<!doctype html>

<html>
<head>
	<title>Cause Detail</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/cause_detail.css" rel="stylesheet">
</head>

<body>
	<script> 
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
		var session = JSON.parse(htmlDecode("{{json session}}"));
		console.log(session);
	</script>
	
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">{{cause.charity.name}}</div>
				
			</div>
			<a type="button" class="btn btn-default navbar-btn" href="/charities">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>
	</nav>

	<div class="modal fade" id="addMyCauseFull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Oops!</h4>
				</div>
				<div class="modal-body">
					You already have the maximum (4) number of causes you can save to.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron" style="background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url({{cause.charity.image}}) center no-repeat; background-size: cover;">
		<h5 class="causes-cost">${{cause.charity.cost}}</h5>
	</div>

	<div class="container">
		{{#with cause}}
		<div id="cause-actions" class="row">
			<button 
				type="button" 
				class="btn btn-lg btn-default add-button{{#if source_saved_causes}}-favorites{{/if}}"
				{{#if my_cause}}
					disabled
				{{/if}}
			>
				<span 
					class="glyphicon 
					{{#if my_cause}}
						glyphicon-ok
					{{else}}
						glyphicon-plus
					{{/if}}" 
					aria-hidden="true"
				>
				</span>
			</button>
			<button 
				type="button" 
				class="btn btn-lg btn-default favorite-button
					{{#if favorite}}
						favorite-button-active
					{{/if}}" 
			>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">
				</span>
			</button>
		</div>

		{{#with charity}}
		<div class="row">
			<div id="cause-info" class="col-xs-2">
				<img src="/images/icon_info.png">
			</div>
			<div id="cause-info-description" class="col-xs-10">
				<h5><span class="text-uppercase">{{action}}</span> {{description}}</h5>
			</div>
		</div>
		<div class="row">
			<div id="cause-url" class="col-xs-2">
				<img src="/images/icon_at.png">
			</div>
			<div id="cause-url-description" class="col-xs-10">
				<a href="{{url}}">{{url}}</a>
			</div>
		</div>
		{{/with}}

		{{/with}}
  	</div>

	
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}
	
	<!-- Our custom js -->
	<script>
		var id_cause = "{{id_cause}}";
	</script>
	<script src="/js/cause_detail.js"></script>
</body>
</html>
