<!doctype html>

<html>
<head>
	<title>Charities</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS to this page -->
	<link href="/css/charities.css" rel="stylesheet">
</head>

<body>

	<script> 
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
		var session = JSON.parse(htmlDecode("{{json session}}"));
		console.log(session);
	</script>

	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button-->
				<div class="navbar-brand navbar-brand-centered">Charities</div>
			</div>
			<!--div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Favorites</a></li>
					<li><a href="#">All Causes</a></li>
					<li><a href="#">Accomplishments</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div--><!--/.nav-collapse -->
		</div>
	</nav>

	<!--<div class="jumbotron">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>You've saved:</h4>

					<center><h1>$10.00</h1></center>

				</div>
				<div class="panel-footer"><center>Over 10 days</center></div>
			</div>
		</div>
	</div>-->

	<div class="modal fade" id="addMyCauseFull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Oops!</h4>
				</div>
				<div class="modal-body">
					You already have the maximum (4) number of causes you can save to.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addSavedCause" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Saved Cause</h4>
				</div>
				<div class="modal-body">
					You have added to your saved causes!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default {{#unless session.showMyFavorites}} active {{/unless}}" id="btn_group_all">All Charities</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default {{#if session.showMyFavorites}} active {{/if}}" id="btn_group_favorites">My Favorites</button>
					</div>
				</div>
			</div>
		</div>

		<br/>

		<!-- All Charities list -->
		<div class="row" id="row-all-charities" {{#if session.showMyFavorites}} hidden {{/if}}>
			{{#each fullData.charities}}
			<div class="col-xs-6 col-md-3 charity" id="charity{{@index}}">
				<div class="panel panel-default">
					<div class="causes-body panel-body" id="cause{{@index}}">
						{{#with charity}}
						<p><strong>{{action}}</strong> {{description}}... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
						<h5 class="causes-cost">with ${{cost}}</h5>
						{{/with}}
					</div>
					<div class="panel-footer">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button 
									type="button" 
									class="btn btn-lg btn-default add-button"
									{{#if my_cause}}
										disabled
									{{/if}}
								>
									<span 
										class="glyphicon 
										{{#if my_cause}}
											glyphicon-ok
										{{else}}
											glyphicon-plus
										{{/if}}" 
										aria-hidden="true"
									>
									</span>
								</button>
							</div>
							<div class="btn-group" role="group">
								<button 
									type="button" 
									class="btn btn-lg btn-default favorite-button
										{{#if favorite}}
											favorite-button-active
										{{/if}}" 
								>
									<span class="glyphicon glyphicon-heart" aria-hidden="true">
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>

		<div class="row" id="row-favorites" {{#unless session.showMyFavorites}} hidden {{/unless}}>
			{{#if empty}}
			<div class="col-xs-12">
				<h5>You haven't added any causes to your favorites. </h5>
				<p>Go to All Charities list and click on the heart on a cause you like so you can save it for later and easily find it when you're ready to start saving for it.</p>
			</div>

			{{else}}

			{{#each fullData.saved_causes}}
			<div class="col-xs-6 col-md-3 charity" id="charity{{@index}}">
				<div class="panel panel-default">
					<div class="causes-body-favorites panel-body" id="cause{{@index}}">
						{{#with charity}}
						<p><strong>{{action}}</strong> {{description}}... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
						<h5 class="causes-cost">with ${{cost}}</h5>
						{{/with}}
					</div>
					<div class="panel-footer">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button 
									type="button" 
									class="btn btn-lg btn-default add-button-favorites"
									{{#if my_cause}}
										disabled
									{{/if}}
								>
									<span 
										class="glyphicon 
										{{#if my_cause}}
											glyphicon-ok
										{{else}}
											glyphicon-plus
										{{/if}}" 
										aria-hidden="true"
									>
									</span>
								</button>
							</div>
							<div class="btn-group" role="group">
								<button 
									type="button" 
									class="btn btn-lg btn-default favorite-button
										{{#if favorite}}
											favorite-button-active
										{{/if}}" 
								>
									<span class="glyphicon glyphicon-heart" aria-hidden="true">
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}

			{{/if}}
		</div>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	
	{{> googleAnalytics}}
	
	<!-- Our custom js -->
	<script src="/js/charities.js"></script>
</body>
</html>
