<!doctype html>

<html>
<head>
	<title>My Causes</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/index.css" rel="stylesheet">

</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button-->
				<div class="navbar-brand navbar-brand-centered">My Causes</div>
			</div>
			<!--div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Favorites</a></li>
					<li><a href="#">All Causes</a></li>
					<li><a href="#">Accomplishments</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div--><!--/.nav-collapse -->
		</div>
	</nav>

	<!--<div class="jumbotron">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>You've saved:</h4>

					<center><h1>$10.00</h1></center>

				</div>
				<div class="panel-footer"><center>Over 10 days</center></div>
			</div>
		</div>
	</div>-->

	<div class="modal fade" id="donationConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to donate to this cause?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#donationModal">Donate</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					You have successfully donated to this cause! Thank you!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-background">
		<div class="container">
			<!--<div class="row">
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default active" id="btn_group_money">Money</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" id="btn_group_days">Days</button>
						</div>
					</div>
				</div>
			</div>-->
			
			<!-- Divider 
			<hr></hr> -->
			
			<div class="row">
				{{#each fullData.my_causes}}
					{{#if charity}}
					<div class="col-xs-6 col-md-3">
						<div class="my-panel panel panel-default">
							<div class="my-causes-body panel-body">
								{{#with charity}}
								<p><strong>{{action}}</strong> {{description}}... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
								<h5 class="causes-cost">with {{cost}}</h5>
								{{/with}}
							</div>
							<div class="panel-footer">
								<div class="my-progress-bar progress">
			  						<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
			  						{{percentage}}%
			    					<span class="sr-only">{{percentage}}% Complete</span>
			  						</div>
								</div>
								{{#if finished}}
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default donate-button" data-toggle="modal" data-target="#donationConfirmModal">DONATE</button>
									</div>
								</div>
								{{else}}
								<div class="donation-rate">
									<p>You're saving <b>{{saving_amount}}</b> per day. <a href="/my_cause_detail">edit</a></p>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
					{{else}}
					<div class="col-xs-6 col-md-3">
						<a href="/charities"> 
							<div class="panel panel-default well well-sm">
								<div class="panel-body">
									<div class="empty-cause">
										<span class="empty-cause-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
										<p>Add a cause to start saving!</p>
									</div>
								</div>
							</div>
						</a>
					</div>
					{{/if}}
				{{/each}}
				<!--
				<div class="col-xs-6 col-md-3">
					<div class="my-panel panel panel-default">
						<div class="my-causes-body panel-body">
							<p><strong>SAVE</strong> 3 puppies from the streets... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
							<h5 class="causes-cost">with $5.00</h5>
						</div>
						<div class="panel-footer">
							<div class="my-progress-bar progress">
		  						<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		  						100%
		    					<span class="sr-only">100% Complete (success)</span>
		  						</div>
							</div>
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default donate-button" data-toggle="modal" data-target="#donationConfirmModal">DONATE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="my-panel panel panel-default">
						<div class="my-causes-body panel-body">
							<p><strong>PROTECT</strong> 6 people from malaria... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
							<h5 class="causes-cost">with $10.00</h5>
						</div>
						<div class="panel-footer">
							<div class="my-progress-bar progress">
		  						<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
		  						80%
		    					<span class="sr-only">80% Complete (success)</span>
		  						</div>
							</div>
							<div class="donation-rate">
								<p>You're saving <b>25c</b> per day. <a href="/my_cause_detail">edit</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="my-panel panel panel-default">
						<div class="my-causes-body panel-body">
							<p><strong>PROVIDE</strong> safe water to 8 community members... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
							<h5 class="causes-cost">with $3.00</h5>
						</div>
						<div class="panel-footer">
							<div class="my-progress-bar progress">
		  						<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
		  						60%
		    					<span class="sr-only">60% Complete (success)</span>
		  						</div>
							</div>
							<div class="donation-rate">
								<p>You're saving <b>50c</b> per day. <a href="/my_cause_detail">edit</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="/charities"> 
						<div class="panel panel-default well well-sm">
							<div class="panel-body">
								<div class="empty-cause">
									<span class="empty-cause-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
									<p>Add a cause to start saving!</p>
								</div>
							</div>
							<!--div class="panel-footer">
								<div class="my-progress-bar progress">
			  						<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
			  						60%
			    					<span class="sr-only">60% Complete (success)</span>
			  						</div>
								</div>
								<div class="donation-rate">
									<p>You're donating at <b>50c</b> per day. <a href="#">edit</a></p>
								</div>
							</div--
						</div>
					</a>
				</div>
			</div>
			-->
	  	</div>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Our custom js -->
	<script src="/js/index.js"></script>
</body>
</html>
