<!doctype html>

<html>
<head>
	<title>My Causes</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/index.css" rel="stylesheet">

</head>

<body>
	<script> 
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
		var session = JSON.parse(htmlDecode("{{json session}}"));
		console.log(session);
	</script>

	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">My Causes</div>
			</div>
		</div>
	</nav>

	<div class="modal fade" id="donationConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to donate to this cause?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#donationModal">Donate</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					You have successfully donated to this cause! Thank you!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h4>Hello, {{user.firstname}}</h4>
			<p>Ready to make a change?</p>

			<a href="/history" class="btn btn-info">View History</a>
		</div>
	</div>

	<div class="bottom-background">
		<div class="container">
			
			{{#if user.bank_account}}
			<div class="row">
				{{#each fullData.my_causes}}
					{{#if charity}}
					<div class="col-xs-6 col-md-3">
						<div class="my-panel panel panel-default">
							<div class="my-causes-body panel-body" id="cause{{@index}}">
								{{#with charity}}
								<p><strong>{{action}}</strong> {{description}}... <span class="more-info">more info</span> <span class="more-info-icon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </p>
								<h5 class="causes-cost">with ${{cost}}</h5>
								{{/with}}
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-xs-12">
										<div class="my-progress-bar progress">
					  						<div class="progress-bar progress-bar-{{color}} progress-bar-striped" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%; {{#if progress-empty}}color:black;{{/if}}">
					  						${{money_saved}}
					    					<span class="sr-only">Saved ${{money_saved}} so far</span>
					  						</div>
										</div>
									</div>
								</div>
								{{#if finished}}
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-sm btn-default donate-button" data-toggle="modal" data-target="#donationConfirmModal">DONATE</button>
									</div>
								</div>
								{{else}}
								<!--
								<div class="donation-rate">
									
								</div>-->
								<div class="row">
									<div class="col-xs-3">
										<button type="button" class="btn btn-default btn-circle btn-choice btn-choice-1" value="0.25">25c</button>
									</div>
									<div class="col-xs-3">
										<button type="button" class="btn btn-default btn-circle btn-choice btn-choice-2" value="1.00">$1</button>
									</div>
									<div class="col-xs-6">
										<div class="btn-group btn-group-justified" role="group" aria-label="...">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default btn-info btn-sm-center btn-save" disabled>SAVE</button>
											</div>
										</div>
									</div>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
					{{else}}
					<div class="col-xs-6 col-md-3">
						<a href="/charities"> 
							<div class="panel panel-default well well-sm">
								<div class="panel-body">
									<div class="empty-cause">
										<span class="empty-cause-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
										<p>Add a cause to start saving!</p>
									</div>
								</div>
							</div>
						</a>
					</div>
					{{/if}}
				{{/each}}
			</div>

			{{else}}

			<h4>Bank Account Set Up:</h4>
			
			<p>You need to add a bank account in order to start saving towards the causes you care about.</p>
			<p>After setting your account, you can go check out the <a href="/charities">causes</a> available for you to choose from.</p>
			<p>Please, go to <a href="/settings">Settings</a> to add a bank account.</p>

			{{/if}}
	  	</div>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Our custom js -->
	<script src="/js/index.js"></script>
</body>
</html>
