<!doctype html>

<html>
<head>
	<title>My Cause Detail</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">{{cause.charity.name}}</div>
				
			</div>
			<a type="button" class="btn btn-default navbar-btn" href="/">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="jumbotron" style="padding: 0px; margin-top: -15px;">
			<img src="{{cause.charity.image}}" class="img img-responsive center-block" style="height: 150px; ">
		</div>
	</div>

	<div class="container">
		{{#with cause}}
		<div class="row">
			{{#with charity}}
			<div class="col-xs-12">
				<dl class="thumbnail">
				  <dt>Description:</dt>
				  <dd><span class="text-uppercase">{{action}}</span> {{description}}</dd>
				  <dt>Donation</dt>
				  <dd>{{cost}}</dd>
				  <dt>More Info:</dt>
				  <dd><a href="{{url}}">{{url}}</a></dd>
				</dl>
			</div>
			{{/with}}

			<div class="col-xs-12">
				<div class="my-progress-bar progress">
					<div class="progress-bar progress-bar-{{color}} progress-bar-striped" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%; {{#if progress-empty}}color:black;{{/if}}">
					{{percentage}}%
					<span class="sr-only">{{percentage}}% Complete</span>
					</div>
				</div>
			</div>
			{{#unless finished}}
			<div class="col-xs-12">
				<h5 class="text-center">I want to save 
				<select id="save_amount"> 
					<option value="0">10c</option>
					<option value="1">15c</option>
					<option value="2">20c</option>
					<option value="3">25c</option>
					<option value="4">50c</option>
					<option value="5">75c</option>
					<option value="6">$1</option>
				</select>
				per day </h5>

			</div>

		
			<div class="col-xs-12">
					<hr></hr>

				<p>Settings are set to Automatic saving. See <a href="/settings">Settings</a> for more info or to change option.</p>
			</div>
			{{/unless}}

			{{#if finished}}
			<div class="col-xs-12">
				<button type="button" class="center-block btn btn-lg btn-{{#if finished}}info{{else}}default{{/if}}" {{#unless finished}}disabled{{/unless}}>DONATE</button>
			</div>
			{{/if}}
			

		</div>
		{{/with}}
  	</div>
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Our custom js -->
	<script>
		var id_cause = "{{id_cause}}";
		$('#save_amount').val("{{cause.id_saving_amount}}");
	</script>
	<script src="/js/my_cause_detail.js"></script>

	

</body>
</html>
