<!doctype html>

<html>
<head>
	<title>My Cause Detail</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/my_cause_detail.css" rel="stylesheet">
</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">{{cause.charity.name}}</div>
				
			</div>
			<a type="button" class="btn btn-default navbar-btn" href="/">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="jumbotron" style="padding: 0px; margin-top: -15px;">
			<img src="{{cause.charity.image}}" class="img img-responsive center-block" style="height: 150px; ">
		</div>
	</div>

	<div class="container">
		{{#with cause}}
		<div class="row">
			{{#with charity}}
			<div class="col-xs-12">
				<dl class="thumbnail">
				  <dt>Description:</dt>
				  <dd><span class="text-uppercase">{{action}}</span> {{description}}</dd>
				  <dt>Donation</dt>
				  <dd>{{cost}}</dd>
				  <dt>More Info:</dt>
				  <dd><a href="{{url}}">{{url}}</a></dd>
				</dl>
			</div>
			{{/with}}

			<div class="col-xs-12">
				<div class="my-progress-bar progress">
					<div class="progress-bar progress-bar-{{color}} progress-bar-striped" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%; {{#if progress-empty}}color:black;{{/if}}">
					{{money_saved}}
					<span class="sr-only">Saved {{money_saved}} so far</span>
					</div>
				</div>
			</div>

			{{#if finished}}
			<div class="col-xs-12">
				<button type="button" class="center-block btn btn-lg btn-{{#if finished}}info{{else}}default{{/if}}" {{#unless finished}}disabled{{/unless}}>DONATE</button>
			</div>

			{{else}}
			<div class="col-xs-12">
				<h5 >I want to add to this cause:</h5>
				<div class="row">
					<div class="col-xs-2">
						<button id="btn-choice-1" type="button" class="btn btn-default btn-circle">25c</button>
					</div>
					<div class="col-xs-2">
						<button id="btn-choice-2" type="button" class="btn btn-default btn-circle">$1</button>
					</div>
					<div class="col-xs-8">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button id="btn-save" type="button" class="btn btn-default btn-info btn-sm-center" disabled>SAVE</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/if}}

		</div>
		{{/with}}
  	</div>
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Our custom js -->
	<script>
		var id_cause = "{{id_cause}}";
		$('#save_amount').val("{{cause.id_saving_amount}}");
	</script>
	<script src="/js/my_cause_detail.js"></script>

	

</body>
</html>
