<!doctype html>

<html>
<head>
	<title>My Cause Detail</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/my_cause_detail.css" rel="stylesheet">
</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">{{cause.charity.name}}</div>
				
			</div>
			<a type="button" class="btn btn-default navbar-btn" href="/">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</div>
	</nav>

	<div class="modal fade" id="donationConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to donate to this cause?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#donationModal">Donate</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Donation</h4>
				</div>
				<div class="modal-body">
					You have successfully donated to this cause! Thank you!
				</div>
				<div class="modal-footer">
					<a id="donateAnchor" href="/donateToCause/{{id_cause}}" class="btn btn-info">OK</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteCauseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Delete Cause</h4>
				</div>
				<div class="modal-body">
					By deleting this cause, any money you saved towards it will still remain in your account for later use. If you wish to donate to this cause later on, you will have to start saving from scratch. Are you sure you want to delete this cause?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
					<a id="deleteCauseAnchor" href="/my_cause_detail/deleteCause/{{id_cause}}" class="btn btn-danger btn-primary">DELETE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron" style="background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url({{cause.charity.image}}) center no-repeat; background-size: cover;">
		<h5 class="causes-cost"><span>${{cause.money_saved}}/</span>${{cause.charity.cost}}</h5>
	</div>

	<div class="container">
		{{#with cause}}
		<div class="row">

			<div class="my-progress-bar progress">
				<div class="progress-bar progress-bar-{{color}} progress-bar-striped" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%; {{#if progress-empty}}color:black;{{/if}}">
				<span class="money-saved">${{money_saved}}</span>
				<span class="sr-only">Saved ${{money_saved}} so far</span>
				</div>
			</div>

			{{#if finished}}
			<div class="col-xs-12">
				<button type="button" class="donate-button center-block btn btn-lg" data-toggle="modal" data-target="#donationConfirmModal">DONATE! :)</button>
			</div>

			{{else}}
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button id="btn-choice-1" type="button" class="btn btn-default btn-choice" value="0.25">25c</button>
					</div>
					<div class="btn-group" role="group">
						<button id="btn-choice-2" type="button" class="btn btn-default btn-choice" value="1.00">$1</button>
					</div>
					<div class="btn-group" role="group">
						<button id="btn-save" type="button" class="btn btn-default btn-info btn-md-center" disabled>SAVE</button>
					</div>
				</div>
			</div>
			{{/if}}

		</div>

		{{#with charity}}
		<div class="row">
			<div id="cause-info" class="col-xs-2">
				<img src="/images/icon_info.png">
			</div>
			<div id="cause-info-description" class="col-xs-10">
				<h5><span class="text-uppercase">{{action}}</span> {{description}}</h5>
			</div>
		</div>
		<div class="row">
			<div id="cause-url" class="col-xs-2">
				<img src="/images/icon_at.png">
			</div>
			<div id="cause-url-description" class="col-xs-10">
				<a href="{{url}}">{{url}}</a>
			</div>
		</div>
		{{/with}}

		<hr></hr>

		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button id="btn-delete" type="button" class="btn btn-default btn-danger" data-toggle="modal" data-target="#deleteCauseModal">DELETE CAUSE</button>
					</div>
				</div>
			</div>
		</div>
		{{/with}}
  	</div>
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}
	
	<!-- Our custom js -->
	<script>
		var id_cause = "{{id_cause}}";
		var currentHomePage = "{{currentHomePage}}";
		$('#save_amount').val("{{cause.id_saving_amount}}");
	</script>
	<script src="/js/my_cause_detail.js"></script>

	

</body>
</html>
