<!doctype html>

<html>
<head>
	<title>Settings</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

</head>

<body>
	<script> 
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
		var session = JSON.parse(htmlDecode("{{json session}}"));
		console.log(session);
	</script>

	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button-->
				<div class="navbar-brand navbar-brand-centered">Settings</div>
			</div>
			<!--div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Favorites</a></li>
					<li><a href="#">All Causes</a></li>
					<li><a href="#">Accomplishments</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div--><!--/.nav-collapse -->
		</div>
	</nav>

	<!--<div class="jumbotron">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>You've saved:</h4>

					<center><h1>$10.00</h1></center>

				</div>
				<div class="panel-footer"><center>Over 10 days</center></div>
			</div>
		</div>
	</div>-->

	<div class="modal fade" id="transferToBankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Transfer to Bank</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to transfer ${{user.balance}} to your bank account?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
					<a href="/settings/transferToBank" class="btn btn-success btn-primary">TRANSFER</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cannotTransferToBankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Transfer to Bank</h4>
				</div>
				<div class="modal-body">
					You don't have any balance to transfer!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cannotDeleteBankAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Transfer Balance</h4>
				</div>
				<div class="modal-body">
					You still have some balance left. Please transfer your balance to your account before deleting.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteBankAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"id="myModalLabel">Delete Bank Account</h4>
				</div>
				<div class="modal-body">
					<u>This cannot be undone.</u> Are you sure you want to delete your account?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
					<a href="/settings/deleteBankAccount" class="btn btn-danger btn-primary">DELETE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addBankAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"id="myModalLabel">Add Bank Account</h4>
				</div>
				<form action="/settings/addBankAccount" method="POST">
					<div class="modal-body">
						<div class="form-group">
							<label for="bank_name">Bank Name</label>
							<input type="text" class="form-control" name="bank_name" id="bank_name" placeholder="Bank of HCI">
						</div>
						<div class="form-group">
							<label for="bank_account">Bank Account Number</label>
							<input type="text" class="form-control" name="bank_account" id="bank_account" placeholder="12534678">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
						<button type="submit" class="btn btn-success btn-primary">ADD</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<h5>BANK ACCOUNT</h5>

		{{#if user.bank_account}}
		<div class="row">
			<div class="col-xs-12">
				<div class="thumbnail" style="margin:0;">
					<div class="row">
						<div class="col-xs-6">
						
							<h5>{{user.bank_account}}</h5>
					
						</div>
						<div class="col-xs-2 col-xs-offset-4">
							<h5><span class="glyphicon glyphicon-ok"></span></h5>
						</div>
					</div>
				</div>

			</div>
			<div class="col-xs-12">
				<button style="padding:6px 0; color:red;" class="btn btn-link pull-right" data-toggle="modal" data-target="#{{#if user.balance}}cannotDelete{{else}}delete{{/if}}BankAccountModal">Delete Account</button>
			</div>
		</div>

		{{else}}

		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button style="border-radius:4px;" type="button" class="btn btn-default" data-toggle="modal" data-target="#addBankAccountModal">
							Add Bank Account 
						</button>
					</div>
				</div>
				

			</div>
		</div>

		{{/if}}
		<hr></hr>

		<div class="row">
			<div class="col-xs-6">
				<h5>CURRENT BALANCE:</h5>
			</div>
			<div class="col-xs-6">
				<h5 class="pull-right">${{#if user.balance}}{{user.balance}}{{else}}0.00{{/if}}</h5>
			</div>
			<div class="col-xs-12">
				<button style="padding:0;" class="btn btn-link pull-right" data-toggle="modal" data-target="#{{#if user.balance}}transfer{{else}}cannotTransfer{{/if}}ToBankModal">Transfer to Bank</button>
			</div>
		</div>

		<hr></hr>

		<h5>NOTIFICATIONS</h5>

		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default active" id="btn_group_notification_on">On</button>
			<button type="button" class="btn btn-default" id="btn_group_notification_off">Off</button>
		</div>

		<hr></hr>

		<a type="button" class="btn btn-danger" href="/login">Logout</a>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}
	
	<!-- Our custom js -->
	<script src="/js/settings.js"></script>
</body>
</html>
